# Sublime Text
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*

# Logs
*.log

# Environnement
.env
.env.local

# Cache
*.cache
.sass-cache/

# Fichiers Duck (FileZilla Pro)
*.duck
